.flexbox-container {
  display: flex;
  flex-wrap: wrap;
   align-content: flex-end;
  height: 500px;
  padding: 5px;
  background-color: lightcyan;
}

.flexbox-item {
  padding: 5px;
  margin: 5px;
  background-color: orange;
}